@charset "ISO-8859-1";

body {
	font-family: 'Tahoma';
	font-size: 12px;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 25px;
	cursor: default;
}

.form-style {
	font-size: 16px;
	border: 2.5px solid black;
	margin: auto;
	width: 50%;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 20px 20px 2px #A59881;
	transition: 0.3s ease-out;
}

.form-style label:hover {
	color: #F1657D;
	transition: 0.3s ease-out;
	border: 1px #F1657D;
}

input[type=submit] {
	/*border-style: hidden;*/
	border: 5px hidden black;
	border-radius: 5px;
}

input[type=submit]:hover {
	color: rgb(255, 255, 255);
	background-color: #F1657D;
	border: 5px hidden #F1657D;
	transition: 0.3s ease-out;
}

input[type=number] {
	border: 1px solid black;
	border-radius: 2px;
	transition: 0.3s ease-out;
}

input [type=number]:focus {
	border: 1px solid #E33C67;
}

input[type=number]:hover {
	border: 1px solid #F1657D;
	transition: 0.3s ease-out;
}

input[type=text] {
	border: 1px solid black;
	border-radius: 2px;
	transition: 0.3s ease-out;
}

input [type=text]:focus {
	border: 1px solid #E33C67;
}

input[type=text]:hover {
	border: 1px solid #F1657D;
	transition: 0.3s ease-out;
}

.texto {
	font-style: oblique;
	transition: 0.3s ease-out;
	font-size: 16px;
}

.texto:hover {
	color: #F1657D;
	font-size: 16px;
	transition: 0.3s ease-in;
	animation: ease-in-out;
}

header {
	background: rgb(14, 14, 22);
	text-align: center;
	font-size: 25px;
	text-align: left;
	font-size: 16px;
	padding: 20px;
	color: white;
	font-family: "Tahoma";
	transition: 0.4s;
	line-height: 25px;
	border-radius: 32px;
}

header a {
	font-family: 'Tahoma';
	color: white;
	transition: 0.4s;
	display: inline-block;
	padding: 0 14px;
	cursor: pointer;
}


a:hover {
	color: #F1657D;
	text-decoration: underline;
	text-decoration-color: #F1657D;
	transition: 0.3s ease-out;
	font-size: 15px;
}

h1:hover {
	color: #F1657D;
	transition: 0.3s ease-out;
}

.err{
	color: firebrick;
}